<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>  Hello user to the main root page!!!!</h1>

Go to the <a th:href="@{/member}">Member Page</a><br>
Go to the <a th:href="@{/admin}">Admin Page</a><br>
Go to the <a th:href="@{/guest}">Guest Page</a><br>
<!--  <form th:action="@{/view}" method="get">
				<input type="submit" value="Groceries" />
			</form>-->


<div sec:authorize="isAuthenticated()">
		
		User's Name: <span sec:authentication="name"></span>
		<br> 
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>
		<br>		
		
		<div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
</body>
</html>